<h4>Add New Establishment for EEOC Demo</h4>

<mat-dialog-content class="mat-typography">
  <h1 mat-dialog-title>Establishment Details</h1>


  <h4>
    Company name <mat-icon aria-hidden="false" aria-label="Example help icon">help</mat-icon> 
  </h4>
  <mat-form-field appearance="outline">
    <input matInput placeholder="EEOC DEMO-2">
  </mat-form-field><br>
  
 Legal name <input type="text" placeholder="EEOC DEMO-2">



</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close class="btn3">Close</button>
  
</mat-dialog-actions>
